.container{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    font-family: "Lato", serif;
    font-size: clamp(0.875rem, 0.693rem + 0.7767vw, 1.625rem);
    margin: 0;
    color: #A94931;
}

.Navmanu{
    margin: 0;
}

